*{
    box-sizing: border-box;
}
.headerContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: lightblue;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.headerContainer ul li {
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
.header-link{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}